<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Profile</title>
</head>

<body style="
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, Helvetica, sans-serif;
">

    <div style="
        background-color: #ffffff;
        padding: 30px;
        width: 350px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    ">
        

        <h2 style="margin: 10px 0 5px 0;">Olabisi Rasheedah</h2>

        <p style="
            margin: 0 0 15px 0;
            color: #777;
            font-size: 14px;
        ">
            Software Engineer
        </p>

        <p style="
            font-size: 14px;
            color: #333;
            line-height: 1.6;
            margin-bottom: 20px;
        ">
            I build web products using Python Django. I enjoy learning, building, and solving real-world
            problems with code.
        </p>

        <a href="#" style="
            display: inline-block;
            padding: 10px 20px;
            background-color: #667eea;
            color: white;
            text-decoration: none;
            border-radius: 20px;
            font-size: 14px;
        ">
            Contact Me
        </a>

    </div>

</body>
</html>
